@import url(//fonts.googleapis.com/css?family=Comfortaa);
* {
  font-family: 'Comfortaa', comfortaa;
}
body {
      background-color: white;
  }

.maintext {
    text-align:center;
    padding-top:300px;
    font-size:30px;
}

.maintext span {
    color:orangered;
    font-weight:bold;
}

.mark {
    text-align:center;
    padding-top:100px;
}

.summary {
    text-align:center;
    color:red;
    padding-top:300px;
}


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    #str {
   width: 800px;
   padding: 20px;
   height: auto;
   font-family: sans-serif;
   font-size: 40px;
   margin: 200px auto;
   color: #fff;
   font-weight: bold;
   background-color: #000;
}