@import url(//fonts.googleapis.com/css?family=Comfortaa);
* {
  font-family: 'Comfortaa', comfortaa;
}
body {
      background-color: white;
  }

.maintext {
    text-align:center;
    padding-top:300px;
    font-size:30px;
}

.maintext span {
    color:orangered;
    font-weight:bold;
}
  
  .burgermenu {
    position:absolute;
    z-index:3;
    cursor:pointer;
  }

  .burgermenu div {
    background-color:black;
    height:5px;
    width:50px;
    margin:10px;
  }