@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
* {
    font-family: 'Dongle', sans-serif;
}
body {
      background-color: white;
  }

.maintext {
    text-align:center;
    padding-top:300px;
    font-size:30px;
}
